doctype html
html
  head
    // Standard Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // Site Properties

    title istex/cillex
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css')
    style(type='text/css').

  body
    div(style="width:400px; margin:auto; font-family: sans-serif;")
        p
        h1 Flask app

        a(href="./graphsearch") cillex graphsearch
        
        h1 Documentation 

    include cillex.html
