<!DOCTYPE html>
<html>
  <head>
    <!-- Standard Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Site Properties-->
    <title>istex/cillex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <style type="text/css"></style>
  </head>
  <body>
    <iframe src="http://localhost:5004/csv" style="width:100%;height:300px"></iframe>
    <iframe src="http://localhost:5000/import/igraph.html?nofoot=1&amp;s=http://calc.padagraph.io/export-cillex-csv-Y&amp;gid=cillex" style="width:100%;height:800px"></iframe>
  </body>
</html>